@import "~bootstrap/dist/css/bootstrap.min.css";
/* variables */
:root {
  --primary: white;
  --secondary: rgb(250, 9, 30);
  --tertiary: rgb(2, 2, 2);
}

/* reset */
body,p,a,li{
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* base styles */
body{
  background:var(--tertiary);
  font-size: 20px;
}

/* fonts */
h1,h2,h3 {
  color: var(--secondary);
  font-weight: bold;
}
a, li,p {
  color: var(--primary)
}




/* mobile(default) styles */



/* media queries */

/* small tab styles */
@media screen and (min-width: 620px){
    
}

/* large tab and mini laptops styles */
@media screen and (min-width: 960px){
    
}

/* desktop styles */
@media screen and (min-width: 1200px){
    
}


